<h1>Add Album</h1>


<form  (ngSubmit)="saveAlbum()" #addFrm="ngForm" class="was-validated">
    <div class="form-group">
      <label>ID:</label>
      <input type="text" class="form-control"  placeholder="Enter id" name="id" [(ngModel)]="album.id"
      pattern="[1-9][0-9]{2,}" #id="ngModel" required>
      <div *ngIf="id.dirty && id.invalid" class="alert alert-danger">Invalid album id</div>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control"  placeholder="Enter title" name="title" [(ngModel)]="album.title"
      pattern="[A-Z][a-z]{0,9}" #title="ngModel" required>
      <div *ngIf="title.dirty && title.invalid" class="alert alert-danger">Invalid album title</div>

      
    </div>
    <div class="form-group">
        <label>Artist:</label>
        <input type="text" class="form-control"  placeholder="Enter title" name="artist"[(ngModel)]="album.artist" 
        pattern="[A-Z][a-z]{3,}" #artist="ngModel"required>
        <div *ngIf="artist.dirty&&artist.invalid" class="alert alert-danger">Invalid album artist</div>

      </div>
      <div class="dropdown">
        <label>Genre : </label>
        <select name="genre" class="form-control"[(ngModel)]="album.genre" >
          <option *ngFor="let g of genres" [value]="g">{{g}}</option>
        </select>
      </div>
    <button type="submit" class="btn btn-success"[disabled]="!addFrm.valid">Save</button>
  </form>